*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.idea/*
config/deploy.rb
config/database.yml
/nbproject/private/
serpinspector.sublime-project
serpinspector.sublime-workspace
